.sidenav-area {
    width: 100%;
    padding: 3% !important;
}

.link-text {
    padding: 3% !important;
}

.leaguesTableCard {
    margin: 2% !important;
    padding: 2%;
}

.all-sports-collection {
    cursor: pointer;
}

.country_search_form_area {
    margin: 5% 10%;
    padding-left: 5%;
    width: 100%;
}